
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 2051.4rem;
}.component-6-gb8 {
  overflow: hidden;
  display: flex;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 2rem;
  align-items: center;
  width: 100%;
  position: relative;

  .property-1frame-11-cjg {
    display: flex;
    column-gap: 26.9rem;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 459.7rem;
    box-sizing: border-box;
    width: 100.1rem;
    position: relative;
    border-radius: 2.7rem;
    flex-shrink: 0;
    height: 61rem;
    overflow: hidden;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:a2c41f4c7165e8a165b2b5a8e996e3f980e76698');
    padding-left: 127rem;
    cursor: pointer;
    align-items: center;

    .images-3-1-hm8 {
      border-radius: 2.7rem;
      flex-shrink: 0;
      width: 100.1rem;
      height: 61rem;
      object-fit: cover;
      vertical-align: top;
    }
    .descarga-9-1-dPt {
      flex-shrink: 0;
      width: 100.1rem;
      height: 61rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.7rem;
    }
    .soldando-1-xwx {
      width: 100.1rem;
      height: 61rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.7rem;
      flex-shrink: 0;
    }
  }
  .property-1frame-12-Ss8 {
    width: 100.1rem;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-right: 632rem;
    height: 61rem;
    cursor: pointer;
    position: relative;
    column-gap: 26.9rem;
    align-items: center;

    .descarga-8-1-ZB4 {
      border-radius: 2.7rem;
      flex-shrink: 0;
      width: 100.1rem;
      height: 61rem;
      object-fit: cover;
      vertical-align: top;
    }
    .images-3-1-gWa {
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.7rem;
      flex-shrink: 0;
      width: 100.1rem;
      height: 61rem;
    }
    .descarga-9-1-p6z {
      width: 100.1rem;
      height: 61rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.7rem;
      flex-shrink: 0;
    }
    .soldando-1-wxJ {
      height: 61rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.7rem;
      flex-shrink: 0;
      width: 100.1rem;
    }
  }
  .property-1frame-13-5Yi {
    margin-right: 555.3rem;
    width: 100.1rem;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 61rem;
    overflow: hidden;
    column-gap: 26.9rem;

    .descarga-8-1-Q5C {
      flex-shrink: 0;
      width: 100.1rem;
      height: 61rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.7rem;
    }
    .images-3-1-92n {
      vertical-align: top;
      border-radius: 2.7rem;
      flex-shrink: 0;
      width: 100.1rem;
      height: 61rem;
      object-fit: cover;
    }
    .descarga-9-1-sjU {
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.7rem;
      flex-shrink: 0;
      width: 100.1rem;
      height: 61rem;
    }
    .soldando-1-26a {
      vertical-align: top;
      border-radius: 2.7rem;
      flex-shrink: 0;
      width: 100.1rem;
      height: 61rem;
      object-fit: cover;
    }
  }
  .property-1frame-14-M8r {
    height: 61rem;
    cursor: pointer;
    display: flex;
    column-gap: 26.9rem;
    flex-shrink: 0;
    width: 100.1rem;
    overflow: hidden;
    position: relative;
    align-items: center;

    .descarga-8-1-H2W {
      height: 61rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.7rem;
      flex-shrink: 0;
      width: 100.1rem;
    }
    .images-3-1-cqU {
      width: 100.1rem;
      height: 61rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.7rem;
      flex-shrink: 0;
    }
    .descarga-9-1-kwg {
      flex-shrink: 0;
      width: 100.1rem;
      height: 61rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.7rem;
    }
    .soldando-1-VuG {
      height: 61rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 2.7rem;
      flex-shrink: 0;
      width: 100.1rem;
    }
  }
}
