
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 127.168rem;
}.instrumentos-en-stock-9MY {
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-39mp-Gwx {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 19.651rem 0rem 6.8rem;
    width: calc(100% - 26.4512rem);
    height: 11rem;

    .link-logo-charitfixpng-nfQ {
      margin: 0.077rem 1.468rem 0rem 0rem;
      width: 17.8rem;
      height: 4.4rem;
      position: relative;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:cd672ca0f5b18af2d5cf85e5a58e3b8ff5628493');
      flex-shrink: 0;
    }
    .auto-group-gd26-Szr {
      width: 81.4488rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .header-CUE {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        box-sizing: border-box;
        padding: 4.438rem 13.551rem 4.162rem 21.032rem;
        width: 75.1rem;
        height: 11rem;
        left: 0;

        .nav-list-item-link-home--6pW {
          cursor: pointer;
          display: flex;
          text-transform: capitalize;
          line-height: 1.5;
          color: #090e0d;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.1449rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .nav-list-item-link-ajg {
          position: relative;
          flex-shrink: 0;
          margin: 0.4rem 5.272rem 0.4rem 0rem;
          width: 1.6rem;
          height: calc(100% - 0.8rem);
          overflow: hidden;
        }
        .component-5-Htz {
          margin: 0rem 7rem 0.009rem 0rem;
          width: 8.5rem;
          height: 1.5909rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .component-4-bPt {
          flex-shrink: 0;
          margin-bottom: 0.0091rem;
          width: 13rem;
          height: 1.5909rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .nav-list-item-link-contact-J3Q {
        width: 12.9rem;
        left: 68.5488rem;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 600;
        height: 2.4rem;
        position: absolute;
        top: 4.2383rem;
        display: flex;
        color: #090e0d;
        line-height: 1.5;
        text-transform: capitalize;
        text-decoration-line: underline;
        white-space: nowrap;
      }
    }
  }
  .auto-group-4uoq-ZV8 {
    margin: 0rem 0rem 11.538rem 0.068rem;
    box-sizing: border-box;
    padding: 8.938rem 6.732rem 9.062rem 6.732rem;
    width: 127.1rem;
    background-image: url('REPLACE_IMAGE:3b3964f15e02781b019cc271e3ce77c99cfefadd');
    flex-shrink: 0;
    background-size: 100% 128.267%;
    background-position: 0 -8.3952rem;
    background: linear-gradient(90deg, #00715d 27.6%, rgba(171, 185, 183, 0.1299999952) 72.4%);

    .breadcrumb-G8e {
      margin: 0rem 90.073rem 2.5rem 0rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.1899999976);
      padding: 1.4rem 1.495rem 1.4rem 1.568rem;
      width: calc(100% - 90.0733rem);
      height: 5.2rem;
      border-radius: 1rem;

      .list-item-link-home-xnA {
        margin: 0rem 1rem 0.277rem 0rem;
        display: flex;
        text-transform: uppercase;
        color: #ffffff;
        white-space: nowrap;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-nixe-eez {
        width: 14rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .symbol-CgW {
          top: 0;
          display: flex;
          font-size: 1.6rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          height: 2.4rem;
          position: absolute;
          left: 0.7648rem;
          font-weight: 400;
          line-height: 1.5;
          white-space: nowrap;
          width: 1rem;
        }
        .list-item-link-donation-JDk {
          width: 14rem;
          height: 1.8rem;
          position: absolute;
          display: flex;
          line-height: 1;
          text-transform: uppercase;
          white-space: nowrap;
          left: 0;
          top: 0.1617rem;
          font-size: 1.8rem;
          font-weight: 600;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
    .donation-list-ZfU {
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      color: #ffffff;
    }
    .auto-group-4uoq-ZV8-bg {
      width: 127.1rem;
      height: 29.7rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:3b3964f15e02781b019cc271e3ce77c99cfefadd');
    }
  }
  .auto-group-omr8-Zot {
    flex-shrink: 0;
    margin: 0rem 3.468rem 7.4rem 3.5rem;
    width: calc(100% - 6.9682rem);
    height: 68.3rem;
    position: relative;

    .rectangle-54-FAv {
      box-sizing: border-box;
      background-color: #ffffff;
      width: 120.1rem;
      height: 62.2rem;
      position: absolute;
      left: 0.1rem;
      top: 6.1rem;
      border: solid 0.1rem #808e9b;
    }
    .analizador-de-redes-vectoriales-KRg {
      height: 4.3rem;
      top: 62.302rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      color: #000000;
      width: 13.6rem;
      position: absolute;
      left: 49rem;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .generador-de-seales-PRY {
      position: absolute;
      left: 49rem;
      top: 51.502rem;
      font-weight: 400;
      line-height: 1.1725;
      width: 8.6rem;
      height: 4.3rem;
      font-size: 1.8rem;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .osciloscopio-sk2 {
      height: 2.2rem;
      position: absolute;
      top: 40.5rem;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.2rem;
      left: 49rem;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .voltmetro-aPY {
      font-size: 1.8rem;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.1rem;
      position: absolute;
      top: 30.5rem;
      line-height: 1.1725;
      height: 2.2rem;
      left: 49rem;
      font-weight: 400;
    }
    .arv-HYr {
      top: 62.302rem;
      font-size: 1.8rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 2.5rem;
      left: 33.8328rem;
      font-weight: 400;
      color: #000000;
      height: 2.2rem;
      position: absolute;
    }
    .gens-zy4 {
      width: 4.4rem;
      font-size: 1.8rem;
      font-weight: 400;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.2rem;
      position: absolute;
      left: 33.8328rem;
      top: 51.602rem;
      line-height: 1.1725;
    }
    .osc-i8N {
      top: 40.902rem;
      font-size: 1.8rem;
      line-height: 1.1725;
      color: #000000;
      white-space: nowrap;
      width: 2.9rem;
      height: 2.2rem;
      position: absolute;
      left: 33.8328rem;
      font-weight: 400;
      font-family: Roboto, 'Source Sans Pro';
    }
    .volti-QWz {
      width: 3.4rem;
      left: 33.8328rem;
      top: 30.202rem;
      line-height: 1.1725;
      color: #000000;
      height: 2.2rem;
      position: absolute;
      font-size: 1.8rem;
      font-weight: 400;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .laps-JMU {
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 3.9rem;
      font-size: 1.8rem;
      left: 33.8328rem;
      top: 20.102rem;
      font-weight: 400;
      height: 2.2rem;
      position: absolute;
    }
    .ubicacin-c7G {
      top: 10rem;
      color: #000000;
      left: 73rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      width: 10.5rem;
      height: 2.9rem;
      position: absolute;
      white-space: nowrap;
    }
    .nombre-7Jv {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      height: 2.9rem;
      left: 51.4318rem;
      top: 10.1rem;
      font-weight: 700;
      line-height: 1.1725;
      width: 8.3rem;
      position: absolute;
      font-size: 2.4rem;
      white-space: nowrap;
    }
    .imagen-DMx {
      position: absolute;
      font-family: Roboto, 'Source Sans Pro';
      left: 3.3318rem;
      top: 9.8rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.1725;
      color: #000000;
      width: 8.1rem;
      height: 2.9rem;
      white-space: nowrap;
    }
    .line-8-XNe {
      width: 120.1rem;
      height: 0.1rem;
      position: absolute;
      left: 0.1rem;
      top: 15.8rem;
      background-color: #808e9b;
    }
    .line-9-47g {
      left: 0;
      top: 46.4rem;
      background-color: #808e9b;
      width: 120.2rem;
      height: 0.1rem;
      position: absolute;
    }
    .line-12-zn2 {
      position: absolute;
      left: 0;
      top: 57.5rem;
      background-color: #808e9b;
      width: 120.2rem;
      height: 0.1rem;
    }
    .line-10-8tE {
      width: 120.1rem;
      height: 0.1rem;
      position: absolute;
      left: 0.1rem;
      top: 36.2rem;
      background-color: #808e9b;
    }
    .line-11-4mt {
      top: 25.2rem;
      background-color: #808e9b;
      width: 120.1rem;
      height: 0.1rem;
      position: absolute;
      left: 0.1rem;
    }
    .t-5000-1-Ct6 {
      position: absolute;
      left: 1.9318rem;
      top: 16.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 10.4rem;
      height: 8.2rem;
    }
    .fdcd50956ea8862427916f7ae68aad-1-JRL {
      height: 9rem;
      position: absolute;
      left: 3.3318rem;
      top: 26rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 9rem;
    }
    .b5a9243f67492871c6c3a0ac06ee51c-1-MeW {
      left: 2.2318rem;
      top: 37.2rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 9.7rem;
      height: 8.1rem;
      position: absolute;
    }
    .askersund-door-light-ash-effect0633750pe696043s5-1-s74 {
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 11.9rem;
      height: 9.4rem;
      position: absolute;
      left: 1.8318rem;
      top: 58.2rem;
    }
    .mi-1-Zka {
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 12.8rem;
      height: 8.4rem;
      position: absolute;
      left: 0.7318rem;
      top: 47.4rem;
    }
    .id-gqC {
      font-size: 2.4rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 2.3rem;
      height: 2.9rem;
      top: 10.1rem;
      font-weight: 700;
      color: #000000;
      position: absolute;
      left: 35.8318rem;
    }
    .lpiz-soldador-16n {
      width: 11.3rem;
      left: 49rem;
      top: 20rem;
      font-weight: 400;
      font-family: Roboto, 'Source Sans Pro';
      height: 2.2rem;
      position: absolute;
      font-size: 1.8rem;
      line-height: 1.1725;
      color: #000000;
      white-space: nowrap;
    }
    .aula-n3-iG6 {
      position: absolute;
      top: 20rem;
      font-weight: 400;
      white-space: nowrap;
      width: 6.7rem;
      height: 2.2rem;
      left: 73.6682rem;
      font-size: 1.8rem;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .aula-n1-RAW {
      color: #000000;
      white-space: nowrap;
      height: 2.2rem;
      left: 73.6682rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      width: 6.7rem;
      position: absolute;
      top: 30.4617rem;
    }
    .aula-n2-jBC {
      font-weight: 400;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.8rem;
      color: #000000;
      width: 6.1rem;
      height: 2.2rem;
      position: absolute;
      left: 73.6682rem;
      top: 40.9234rem;
    }
    .aula-n2-Rpi {
      width: 6.7rem;
      left: 73.6682rem;
      font-weight: 400;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      height: 2.2rem;
      position: absolute;
      top: 51.3851rem;
      font-size: 1.8rem;
      color: #000000;
      white-space: nowrap;
    }
    .aula-n1-8DL {
      height: 2.2rem;
      top: 61.8468rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      width: 6.7rem;
      position: absolute;
      left: 73.6682rem;
      color: #000000;
      white-space: nowrap;
    }
    .cantidad-SE2 {
      width: 9.7rem;
      left: 96.8rem;
      font-size: 2.4rem;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.9rem;
      position: absolute;
      top: 10.3rem;
      font-weight: 700;
      line-height: 1.1725;
    }
  }
  .auto-group-cycv-8Mk {
    margin: 0rem 47.368rem 93.7rem 49.2rem;
    width: calc(100% - 96.5682rem);
    height: 5rem;
    display: flex;
    column-gap: 0.9rem;
    align-items: center;
    flex-shrink: 0;

    .nav-list-item-pVU {
      font-weight: 400;
      white-space: nowrap;
      width: 5rem;
      font-size: 1.8rem;
      line-height: 1.5;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      border-radius: 2.5rem;
      display: flex;
      color: #ffffff;
      flex-shrink: 0;
      height: 100%;
      background-color: #00715d;
    }
    .nav-list-item-link-6Sz {
      font-size: 1.8rem;
      font-family: Inter, 'Source Sans Pro';
      box-sizing: border-box;
      display: flex;
      white-space: nowrap;
      flex-shrink: 0;
      line-height: 1.5;
      color: #090e0d;
      align-items: center;
      justify-content: center;
      border: solid 0.1rem #cccdd3;
      border-radius: 2.5rem;
      width: 5rem;
      height: 100%;
      font-weight: 400;
    }
    .nav-list-item-link-xVC {
      box-sizing: border-box;
      display: flex;
      font-weight: 400;
      color: #090e0d;
      align-items: center;
      height: 100%;
      line-height: 1.5;
      flex-shrink: 0;
      width: 5rem;
      font-size: 1.8rem;
      justify-content: center;
      border: solid 0.1rem #cccdd3;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 2.5rem;
    }
    .nav-list-item-link-S9U {
      color: #090e0d;
      justify-content: center;
      border: solid 0.1rem #cccdd3;
      width: 5rem;
      height: 100%;
      display: flex;
      font-size: 1.8rem;
      border-radius: 2.5rem;
      font-weight: 400;
      white-space: nowrap;
      line-height: 1.5;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      box-sizing: border-box;
      flex-shrink: 0;
    }
    .nav-list-item-link-next--uok {
      width: 7rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 3rem;
      flex-shrink: 0;
    }
  }
  .footer-qBc {
    height: 65.3rem;
    position: relative;
    background: linear-gradient(267.95deg, #222928 148%, #090e0d 199.4%);
    flex-shrink: 0;
    margin-right: 0.0682rem;
    width: 127.1rem;

    .before-kpN {
      background-image: url('REPLACE_IMAGE:7e5681506b5d41c0e9a1c885fab334dd33591152');
      width: 92.9515rem;
      height: 65.3rem;
      position: relative;
      left: 0;
      top: 0;
      background-size: 43.683% 88.668%;
      background-position: 44.6645rem 3.7rem;
    }
    .divcontainer-euk {
      position: absolute;
      left: 11.3rem;
      top: 8.1rem;
      width: 112.6rem;
      height: 47.7rem;

      .auto-group-rkcz-ySE {
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0rem 9.4rem 11.65rem 9.3rem;
        width: 100%;
        height: 47.6rem;

        .auto-group-z9ee-Utn {
          margin: 0rem 0rem 11.9rem 34.895rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .nav-list-item-link-home-cVC {
            display: flex;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 5.905rem 0.4rem 0rem;
            color: #ffffff;
            flex-shrink: 0;
          }
          .component-2-W4n {
            margin: 0.391rem 6rem 0rem 0rem;
            width: 8.5rem;
            height: 1.5909rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .component-4-d9Q {
            margin: 0.391rem 6rem 0rem 0rem;
            width: 13rem;
            height: 1.5909rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .nav-list-item-link-contact-wvn {
            display: flex;
            font-size: 1.6rem;
            font-weight: 600;
            text-transform: capitalize;
            flex-shrink: 0;
            line-height: 1.5;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-hqnn-E9C {
          margin: 0rem 14.1rem 0.75rem 0rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .heading-4-explore-links-YQn {
            font-size: 2rem;
            line-height: 1.5;
            white-space: nowrap;
            margin: 0.2rem 18.8rem 0rem 0rem;
            display: flex;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 700;
            color: #ffffff;
          }
          .heading-4-get-support-3cS {
            display: flex;
            font-size: 2rem;
            line-height: 1.5;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 23.7rem;
            font-weight: 700;
            color: #ffffff;
            white-space: nowrap;
          }
          .heading-4-get-support-NPp {
            display: flex;
            flex-shrink: 0;
            margin-top: 1.2rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-qvei-hBC {
          align-items: center;
          flex-shrink: 0;
          margin-right: 7.8rem;
          display: flex;

          .auto-group-4qft-qHQ {
            margin: 0.2rem 19.1rem 0rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .list-item-link-about-company-NHL {
              color: #949b95;
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.05rem;
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5625;
              font-family: Inter, 'Source Sans Pro';
            }
            .list-item-link-latest-projects-UrA {
              color: #949b95;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5625;
            }
          }
          .auto-group-2p2w-bft {
            margin: 0rem 25.7rem 0.25rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .list-item-link-about-j1Q {
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              color: #949b95;
              flex-shrink: 0;
              margin-bottom: 1rem;
              line-height: 1.5625;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .list-item-link-how-it-works-omx {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5625;
              color: #949b95;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .list-item-KEW {
            flex-shrink: 0;
            margin: 0rem 1rem 0.75rem 0rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.5rem;
          }
          .list-item-link-donationgmailcom-EMU {
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5625;
            text-decoration-line: underline;
            color: #949b95;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.75rem;
          }
        }
        .auto-group-rgc6-9DY {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 13.6rem 0.75rem 0rem;

          .list-item-link-latest-blog-4bQ {
            font-weight: 400;
            color: #949b95;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 1rem 17.1rem 0rem 0rem;
            display: flex;
            font-size: 1.6rem;
            line-height: 1.5625;
            flex-shrink: 0;
          }
          .list-item-link-knowledge-hub-9cr {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            font-weight: 400;
            color: #949b95;
            white-space: nowrap;
            margin: 0.5rem 23.7rem 0rem 0rem;
            font-size: 1.6rem;
            line-height: 1.5625;
          }
          .list-item-4E2 {
            margin: 0rem 1rem 0.5rem 0rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.5rem;
            flex-shrink: 0;
          }
          .list-item-link-88-111-222-333-B3k {
            margin-bottom: 0.5rem;
            display: flex;
            color: #949b95;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5625;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-4amt-tir {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-8vur-3Lr {
            margin: 0.2rem 19.4rem 0rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .list-item-link-our-testimonials-ara {
              flex-shrink: 0;
              font-size: 1.6rem;
              line-height: 1.5625;
              font-weight: 400;
              color: #949b95;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1rem;
              display: flex;
            }
            .list-item-link-our-mission-WES {
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5625;
              color: #949b95;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .auto-group-mehl-ERL {
            margin: 0rem 23.6rem 0.2rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .list-item-link-success-stories-AZt {
              display: flex;
              line-height: 1.5625;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.6rem;
              font-weight: 400;
              color: #949b95;
            }
            .list-item-link-contact-5gr {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5625;
              color: #949b95;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .list-item-REv {
            margin: 0rem 1rem 1.7rem 0rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.5rem;
            flex-shrink: 0;
          }
          .list-item-link-tropical-cyclone-volcano-wUA {
            white-space: nowrap;
            margin-bottom: 1.7rem;
            display: flex;
            font-weight: 400;
            line-height: 1.5625;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            color: #949b95;
            flex-shrink: 0;
          }
        }
      }
    }
    .link-logo-charitfixpng-2kW {
      top: 7rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:cd672ca0f5b18af2d5cf85e5a58e3b8ff5628493');
      width: 17.8rem;
      height: 4.4rem;
      position: relative;
      left: 14.2rem;
    }
    .copyright-2023-inittheme-all-rights-reserved-Kjc {
      color: #949b95;
      left: 19.5141rem;
      justify-content: center;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5625;
      width: 36.7rem;
      height: 2.5rem;
      position: absolute;
      display: flex;
      white-space: nowrap;
      top: 58.4rem;
      align-items: center;
      font-family: Inter, 'Source Sans Pro';
    }
    .list-item-link-avS {
      width: 3.8rem;
      height: 3.6rem;
      position: absolute;
      left: 102.3rem;
      top: 58.7rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
    }
    .list-item-link-hVG {
      height: 3.6rem;
      position: absolute;
      left: 107.5rem;
      top: 58.7rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 3.8rem;
    }
    .list-item-link-pZt {
      position: absolute;
      left: 112.7rem;
      top: 58.7rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 3.8rem;
      height: 3.6rem;
    }
    .list-item-link-M42 {
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 3.8rem;
      height: 3.6rem;
      position: absolute;
      left: 117.9rem;
      top: 58.7rem;
    }
  }
}
