
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 10.4rem;
}.instrumentos-xVt {
  display: flex;
  color: #090e0d;
  white-space: nowrap;
  height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  text-decoration-line: underline;
  font-family: Inter, 'Source Sans Pro';
  width: 100%;
}
