
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 127.2rem;
}.insumos-sin-stock-iPY {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 3.7rem;

  .auto-group-zkrw-cUv {
    margin: 0rem 19.651rem 5.7rem 6.9rem;
    width: calc(100% - 26.5512rem);
    height: 4.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .link-logo-charitfixpng-7Rg {
      margin-right: 22.4318rem;
      width: 17.8rem;
      height: 4.4rem;
      position: relative;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:cd672ca0f5b18af2d5cf85e5a58e3b8ff5628493');
      flex-shrink: 0;
    }
    .nav-list-item-link-home--PPC {
      line-height: 1.5;
      color: #090e0d;
      font-family: Inter, 'Source Sans Pro';
      margin-bottom: 0.7234rem;
      font-size: 1.6rem;
      font-weight: 600;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      display: flex;
      text-transform: capitalize;
    }
    .auto-group-sxhg-gNJ {
      padding: 0.438rem 0rem 0.438rem 0.145rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;

      .nav-list-item-link-oSv {
        flex-shrink: 0;
        margin: 0.6rem 5.272rem 1.323rem 0rem;
        width: 1.6rem;
        height: calc(100% - 1.9234rem);
        overflow: hidden;
        position: relative;
      }
      .component-5-7Ci {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 7rem 0.733rem 0rem;
        width: 8.5rem;
        height: 1.5909rem;
        cursor: pointer;
        object-fit: contain;
      }
      .component-4-2Kg {
        width: 13rem;
        height: 1.5909rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 7rem 0.733rem 0rem;
      }
      .nav-list-item-link-contact-8tW {
        text-decoration-line: underline;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.1234rem;
        font-weight: 600;
        line-height: 1.5;
        color: #090e0d;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        text-transform: capitalize;
      }
    }
  }
  .auto-group-cofc-dqG {
    flex-shrink: 0;
    margin: 0rem 0rem 19.096rem 0.1rem;
    width: 127.1rem;
    height: 19.242rem;
    position: relative;
    background-size: 100% 128.267%;
    background-position: 0 -5.4391rem;
    background-image: url('REPLACE_IMAGE:3b3964f15e02781b019cc271e3ce77c99cfefadd');

    .section-paints-wb4 {
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(90deg, #00715d 27.6%, rgba(171, 185, 183, 0.1299999952) 72.4%);
      width: 127.1rem;
      height: 19.2rem;
    }
    .breadcrumb-2Mc {
      height: 5.2rem;
      position: absolute;
      left: 6.8rem;
      top: 4.4rem;
      border-radius: 1rem;
      width: 23.563rem;
      padding: 1.4rem 3.93rem 1.4rem 2.6rem;
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.1899999976);
      box-sizing: border-box;

      .list-item-link-home-uAW {
        font-size: 1.8rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        text-transform: uppercase;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.733rem 0.2rem 0rem;
        display: flex;
        font-weight: 600;
        line-height: 1;
      }
      .symbol-miW {
        font-weight: 400;
        line-height: 1.5;
        margin-right: 1.4rem;
        font-size: 1.6rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
      .list-item-link-donation-h6N {
        margin-bottom: 0.2rem;
        display: flex;
        line-height: 1;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .donation-list-BXL {
      position: absolute;
      left: 7.9rem;
      top: 10.5rem;
      display: flex;
      font-size: 4rem;
      font-weight: 700;
      width: 20.8rem;
      height: 4rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 1;
      text-transform: uppercase;
    }
    .auto-group-cofc-dqG-bg {
      width: 127.1rem;
      height: 19.242rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:3b3964f15e02781b019cc271e3ce77c99cfefadd');
    }
  }
  .auto-group-e96n-c6r {
    height: 68.3rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 3.468rem 7.4rem 3.532rem;
    width: calc(100% - 7rem);

    .rectangle-54-sYa {
      position: absolute;
      left: 0.1rem;
      top: 6.1rem;
      border: solid 0.1rem #808e9b;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 120.1rem;
      height: 62.2rem;
    }
    .protoboard-P18 {
      width: 9rem;
      position: absolute;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #000000;
      height: 2.2rem;
      left: 49rem;
      top: 62.302rem;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .transformador-sgz {
      position: absolute;
      left: 49rem;
      font-weight: 400;
      height: 2.2rem;
      top: 51.502rem;
      font-size: 1.8rem;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 12rem;
    }
    .fusible-abQ {
      height: 2.2rem;
      left: 49rem;
      font-size: 1.8rem;
      white-space: nowrap;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      width: 6.2rem;
      position: absolute;
      top: 40.5rem;
      font-weight: 400;
    }
    .cables-de-protoboard-ViN {
      height: 2.2rem;
      left: 49rem;
      top: 30.5rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      width: 17.2rem;
      position: absolute;
      white-space: nowrap;
    }
    .board-zf8 {
      line-height: 1.1725;
      color: #000000;
      width: 4.7rem;
      height: 2.2rem;
      position: absolute;
      font-weight: 400;
      white-space: nowrap;
      left: 33.8328rem;
      top: 62.302rem;
      font-size: 1.8rem;
      font-family: Roboto, 'Source Sans Pro';
    }
    .transf-WNa {
      position: absolute;
      top: 51.602rem;
      font-size: 1.8rem;
      font-weight: 400;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.7rem;
      height: 2.2rem;
      left: 33.8328rem;
      line-height: 1.1725;
    }
    .fus-DGz {
      width: 2.6rem;
      height: 2.2rem;
      left: 33.8328rem;
      line-height: 1.1725;
      color: #000000;
      position: absolute;
      top: 40.902rem;
      font-size: 1.8rem;
      font-weight: 400;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .board-cab-Kav {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      height: 2.2rem;
      left: 33.8328rem;
      top: 30.202rem;
      white-space: nowrap;
      width: 8.1rem;
      position: absolute;
    }
    .pote-dLi {
      top: 20.102rem;
      font-size: 1.8rem;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      width: 3.6rem;
      height: 2.2rem;
      position: absolute;
      white-space: nowrap;
      left: 33.8328rem;
      font-weight: 400;
      line-height: 1.1725;
    }
    .nombre-KzE {
      white-space: nowrap;
      width: 8.3rem;
      height: 2.9rem;
      position: absolute;
      top: 10.1rem;
      color: #000000;
      left: 51.4318rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
    }
    .imagen-2dk {
      height: 2.9rem;
      line-height: 1.1725;
      color: #000000;
      white-space: nowrap;
      width: 8.1rem;
      position: absolute;
      left: 3.3318rem;
      top: 9.8rem;
      font-size: 2.4rem;
      font-weight: 700;
      font-family: Roboto, 'Source Sans Pro';
    }
    .line-8-jo4 {
      top: 15.8rem;
      background-color: #808e9b;
      width: 120.1rem;
      height: 0.1rem;
      position: absolute;
      left: 0.1rem;
    }
    .line-9-rsg {
      width: 120.2rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 46.4rem;
      background-color: #808e9b;
    }
    .line-12-Q8W {
      position: absolute;
      left: 0;
      top: 57.5rem;
      background-color: #808e9b;
      width: 120.2rem;
      height: 0.1rem;
    }
    .line-10-jga {
      background-color: #808e9b;
      width: 120.1rem;
      height: 0.1rem;
      position: absolute;
      left: 0.1rem;
      top: 36.2rem;
    }
    .line-11-rmC {
      width: 120.1rem;
      height: 0.1rem;
      position: absolute;
      left: 0.1rem;
      top: 25.2rem;
      background-color: #808e9b;
    }
    .t-5000-1-nPx {
      top: 16.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 10.4rem;
      height: 8.2rem;
      position: absolute;
      left: 1.9318rem;
    }
    .fdcd50956ea8862427916f7ae68aad-1-ruc {
      vertical-align: top;
      border-radius: 1.5rem;
      width: 9rem;
      height: 9rem;
      position: absolute;
      left: 3.3318rem;
      top: 26rem;
      object-fit: cover;
    }
    .b5a9243f67492871c6c3a0ac06ee51c-1-xxe {
      top: 37.2rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 9.7rem;
      height: 8.1rem;
      position: absolute;
      left: 2.2318rem;
    }
    .askersund-door-light-ash-effect0633750pe696043s5-1-4kn {
      height: 9.4rem;
      position: absolute;
      left: 1.8318rem;
      top: 58.2rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 11.9rem;
    }
    .mi-1-Mjt {
      height: 8.4rem;
      position: absolute;
      left: 0.7318rem;
      top: 47.4rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 12.8rem;
    }
    .id-tE2 {
      font-weight: 700;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      top: 10.1rem;
      font-size: 2.4rem;
      position: absolute;
      left: 35.8318rem;
      line-height: 1.1725;
      white-space: nowrap;
      width: 2.3rem;
      height: 2.9rem;
    }
    .potencimetro-nqC {
      left: 49rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      height: 2.2rem;
      position: absolute;
      top: 20rem;
      font-size: 1.8rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      width: 11.9rem;
    }
    .n-a-6az {
      position: absolute;
      top: 19.6rem;
      font-size: 1.8rem;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      width: 3.2rem;
      height: 2.2rem;
      left: 76.2rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .item-4-3-2024-QLn {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.6rem;
      height: 2.2rem;
      position: absolute;
      left: 101rem;
      font-size: 1.8rem;
      top: 19rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #000000;
    }
    .item-6-3-2024-6zJ {
      line-height: 1.1725;
      color: #000000;
      white-space: nowrap;
      width: 7.6rem;
      height: 2.2rem;
      left: 101rem;
      top: 30.5rem;
      position: absolute;
      font-size: 1.8rem;
      font-weight: 400;
      font-family: Roboto, 'Source Sans Pro';
    }
    .item-31-2-2024-odp {
      height: 2.2rem;
      top: 40.6rem;
      font-size: 1.8rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.6rem;
      position: absolute;
      left: 101rem;
      font-weight: 400;
      color: #000000;
    }
    .item-28-2-2024-Jaa {
      width: 8.6rem;
      height: 2.2rem;
      top: 51.6rem;
      font-weight: 400;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      position: absolute;
      left: 101rem;
      font-size: 1.8rem;
      line-height: 1.1725;
      white-space: nowrap;
    }
    .item-10-3-2024-DSe {
      left: 101rem;
      top: 62rem;
      font-size: 1.8rem;
      line-height: 1.1725;
      color: #000000;
      white-space: nowrap;
      width: 8.6rem;
      position: absolute;
      font-weight: 400;
      font-family: Roboto, 'Source Sans Pro';
      height: 2.2rem;
    }
    .n-a-uqG {
      height: 2.2rem;
      position: absolute;
      left: 76.2rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 3.2rem;
      top: 30.5rem;
      font-size: 1.8rem;
    }
    .n-a-1tJ {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 3.2rem;
      height: 2.2rem;
      position: absolute;
      line-height: 1.1725;
      color: #000000;
      left: 76.2rem;
      top: 40.6rem;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .n-a-Ktz {
      width: 3.2rem;
      left: 76.2rem;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      color: #000000;
      height: 2.2rem;
      position: absolute;
      top: 51.5rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.1725;
    }
    .n-a-F1x {
      position: absolute;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #000000;
      white-space: nowrap;
      width: 3.2rem;
      height: 2.2rem;
      left: 76.2rem;
      top: 62rem;
      font-family: Roboto, 'Source Sans Pro';
    }
    .cantidad-9d8 {
      line-height: 1.1725;
      white-space: nowrap;
      position: absolute;
      left: 73rem;
      top: 10.3rem;
      font-weight: 700;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      width: 9.7rem;
      height: 2.9rem;
      font-size: 2.4rem;
    }
    .fecha-de-stock-Rae {
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.1725;
      left: 96rem;
      top: 10.3rem;
      color: #000000;
      white-space: nowrap;
      width: 16.3rem;
      height: 2.9rem;
      position: absolute;
    }
  }
  .auto-group-7gul-vXQ {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 47.368rem 21.262rem 49.232rem;
    width: calc(100% - 96.6rem);
    height: 5rem;
    display: flex;
    column-gap: 0.9rem;

    .nav-list-item-QxN {
      height: 100%;
      display: flex;
      font-weight: 400;
      align-items: center;
      color: #ffffff;
      justify-content: center;
      border-radius: 2.5rem;
      width: 5rem;
      font-size: 1.8rem;
      line-height: 1.5;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #00715d;
      flex-shrink: 0;
    }
    .nav-list-item-link-HWN {
      flex-shrink: 0;
      white-space: nowrap;
      box-sizing: border-box;
      justify-content: center;
      border-radius: 2.5rem;
      font-size: 1.8rem;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      width: 5rem;
      display: flex;
      line-height: 1.5;
      color: #090e0d;
      border: solid 0.1rem #cccdd3;
      height: 100%;
      font-weight: 400;
    }
    .nav-list-item-link-A4N {
      color: #090e0d;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      flex-shrink: 0;
      line-height: 1.5;
      display: flex;
      font-weight: 400;
      white-space: nowrap;
      align-items: center;
      box-sizing: border-box;
      height: 100%;
      border-radius: 2.5rem;
      font-size: 1.8rem;
      border: solid 0.1rem #cccdd3;
      width: 5rem;
    }
    .nav-list-item-link-3tr {
      border-radius: 2.5rem;
      color: #090e0d;
      border: solid 0.1rem #cccdd3;
      flex-shrink: 0;
      height: 100%;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.5;
      white-space: nowrap;
      align-items: center;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      box-sizing: border-box;
      width: 5rem;
    }
    .nav-list-item-link-next--XJE {
      width: 7rem;
      height: 5rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 3rem;
      flex-shrink: 0;
    }
  }
  .footer-e7x {
    background: linear-gradient(267.95deg, #222928 148%, #090e0d 199.4%);
    flex-shrink: 0;
    margin-right: 0.1rem;
    width: 127.1rem;
    height: 65.3rem;
    position: relative;

    .before-Mo4 {
      left: 0;
      top: 0;
      background-size: 43.683% 88.668%;
      background-position: 44.6645rem 3.7rem;
      background-image: url('REPLACE_IMAGE:7e5681506b5d41c0e9a1c885fab334dd33591152');
      width: 92.9515rem;
      height: 65.3rem;
      position: relative;
    }
    .divcontainer-eXG {
      position: absolute;
      left: 11.3rem;
      top: 8.1rem;
      width: 112.6rem;
      height: 47.7rem;

      .auto-group-ndot-NiA {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0rem 9.4rem 11.65rem 9.3rem;
        width: 100%;
        height: 47.6rem;
        align-items: center;

        .auto-group-cpxg-HKL {
          flex-shrink: 0;
          margin: 0rem 0rem 11.9rem 34.895rem;
          display: flex;
          align-items: center;

          .nav-list-item-link-home-zjY {
            font-size: 1.8rem;
            white-space: nowrap;
            flex-shrink: 0;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            margin: 0rem 5.905rem 0.4rem 0rem;
            display: flex;
            font-weight: 600;
            line-height: 1;
          }
          .component-2-61t {
            width: 8.5rem;
            height: 1.5909rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.391rem 6rem 0rem 0rem;
          }
          .component-4-bUS {
            flex-shrink: 0;
            margin: 0.391rem 6rem 0rem 0rem;
            width: 13rem;
            height: 1.5909rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
          }
          .nav-list-item-link-contact-7Sn {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            text-transform: capitalize;
            white-space: nowrap;
            display: flex;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
        .auto-group-kup2-pMC {
          margin: 0rem 14.1rem 0.75rem 0rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .heading-4-explore-links-98a {
            white-space: nowrap;
            font-weight: 700;
            line-height: 1.5;
            font-size: 2rem;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0.2rem 18.8rem 0rem 0rem;
            display: flex;
          }
          .heading-4-get-support-qXC {
            font-weight: 700;
            font-family: Open Sans, 'Source Sans Pro';
            margin-right: 23.7rem;
            display: flex;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            line-height: 1.5;
          }
          .heading-4-get-support-xbp {
            margin-top: 1.2rem;
            display: flex;
            font-weight: 700;
            line-height: 1.5;
            flex-shrink: 0;
            font-size: 2rem;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-skzk-GcW {
          flex-shrink: 0;
          margin-right: 7.8rem;
          display: flex;
          align-items: center;

          .auto-group-c1en-DGr {
            flex-shrink: 0;
            margin: 0.2rem 19.1rem 0rem 0rem;
            display: flex;
            flex-direction: column;

            .list-item-link-about-company-wie {
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              line-height: 1.5625;
              color: #949b95;
              font-family: Inter, 'Source Sans Pro';
              margin-bottom: 1.05rem;
              font-weight: 400;
              white-space: nowrap;
            }
            .list-item-link-latest-projects-TS6 {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5625;
              color: #949b95;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
          }
          .auto-group-b9lz-P4r {
            margin: 0rem 25.7rem 0.25rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .list-item-link-about-WvA {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5625;
              color: #949b95;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              display: flex;
            }
            .list-item-link-how-it-works-Ajp {
              font-weight: 400;
              line-height: 1.5625;
              color: #949b95;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
            }
          }
          .list-item-6Na {
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin: 0rem 1rem 0.75rem 0rem;
          }
          .list-item-link-donationgmailcom-cLv {
            font-size: 1.6rem;
            line-height: 1.5625;
            color: #949b95;
            white-space: nowrap;
            margin-bottom: 0.75rem;
            display: flex;
            font-weight: 400;
            text-decoration-line: underline;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .auto-group-2ckn-JzS {
          flex-shrink: 0;
          margin: 0rem 13.6rem 0.75rem 0rem;
          display: flex;
          align-items: center;

          .list-item-link-latest-blog-Et6 {
            margin: 1rem 17.1rem 0rem 0rem;
            font-size: 1.6rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-weight: 400;
            line-height: 1.5625;
            color: #949b95;
            flex-shrink: 0;
          }
          .list-item-link-knowledge-hub-wXc {
            color: #949b95;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            line-height: 1.5625;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            margin: 0.5rem 23.7rem 0rem 0rem;
            display: flex;
          }
          .list-item-3ae {
            vertical-align: top;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin: 0rem 1rem 0.5rem 0rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
          }
          .list-item-link-88-111-222-333-mFk {
            margin-bottom: 0.5rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5625;
            color: #949b95;
            white-space: nowrap;
          }
        }
        .auto-group-4war-5GS {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-6qne-2Sa {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0.2rem 19.4rem 0rem 0rem;

            .list-item-link-our-testimonials-Ly4 {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5625;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1rem;
              display: flex;
              color: #949b95;
              flex-shrink: 0;
            }
            .list-item-link-our-mission-GLv {
              font-weight: 400;
              line-height: 1.5625;
              color: #949b95;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
            }
          }
          .auto-group-pnyn-zni {
            margin: 0rem 23.6rem 0.2rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .list-item-link-success-stories-LLn {
              display: flex;
              font-size: 1.6rem;
              line-height: 1.5625;
              color: #949b95;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 1rem;
              white-space: nowrap;
              font-weight: 400;
            }
            .list-item-link-contact-r4E {
              color: #949b95;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5625;
            }
          }
          .list-item-yPk {
            margin: 0rem 1rem 1.7rem 0rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.5rem;
            flex-shrink: 0;
          }
          .list-item-link-tropical-cyclone-volcano-VN6 {
            margin-bottom: 1.7rem;
            color: #949b95;
            flex-shrink: 0;
            line-height: 1.5625;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
    }
    .link-logo-charitfixpng-auL {
      top: 7rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:cd672ca0f5b18af2d5cf85e5a58e3b8ff5628493');
      width: 17.8rem;
      height: 4.4rem;
      position: relative;
      left: 14.2rem;
    }
    .copyright-2023-inittheme-all-rights-reserved-H34 {
      align-items: center;
      position: absolute;
      left: 19.5141rem;
      display: flex;
      line-height: 1.5625;
      color: #949b95;
      width: 36.7rem;
      font-family: Inter, 'Source Sans Pro';
      height: 2.5rem;
      top: 58.4rem;
      justify-content: center;
      font-size: 1.6rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .list-item-link-95G {
      top: 58.7rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 3.8rem;
      height: 3.6rem;
      position: absolute;
      left: 102.3rem;
    }
    .list-item-link-Tbk {
      border-radius: 1rem;
      width: 3.8rem;
      height: 3.6rem;
      position: absolute;
      left: 107.5rem;
      top: 58.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .list-item-link-yKC {
      position: absolute;
      left: 112.7rem;
      top: 58.7rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 3.8rem;
      height: 3.6rem;
    }
    .list-item-link-J6a {
      top: 58.7rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1rem;
      width: 3.8rem;
      height: 3.6rem;
      position: absolute;
      left: 117.9rem;
    }
  }
}
