
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 152.6rem;
}.insumos-en-stock-cw8 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-q8xx-mp2 {
    padding: 5.8rem 0rem 15.9rem 0rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-b3xt-5pi {
      width: calc(100% - 51.883rem);
      height: 4.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 41.783rem 5.8rem 10.1rem;

      .link-logo-charitfixpng-nj8 {
        margin-right: 22.5rem;
        width: 17.8rem;
        height: 4.4rem;
        position: relative;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:cd672ca0f5b18af2d5cf85e5a58e3b8ff5628493');
        flex-shrink: 0;
      }
      .header-TqG {
        margin: 0.9rem 0;
        height: calc(100% - 1.8rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .nav-list-item-link-home--k3g {
          font-size: 1.6rem;
          line-height: 1.5;
          color: #090e0d;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          cursor: pointer;
          font-weight: 600;
          text-transform: capitalize;
          margin: 0.2rem 0.145rem 0rem 0rem;
        }
        .nav-list-item-link-c5t {
          margin: 0.6rem 5.272rem 0.4rem 0rem;
          width: 1.6rem;
          height: calc(100% - 1rem);
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
        }
        .component-4-v6a {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.191rem 7rem 0rem 0rem;
          width: 8.5rem;
          height: 1.5909rem;
          cursor: pointer;
          object-fit: contain;
        }
        .component-4-qDY {
          margin: 0.191rem 7rem 0rem 0rem;
          width: 13rem;
          height: 1.5909rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .nav-list-item-link-contact-xZ4 {
          line-height: 1.5;
          text-decoration-line: underline;
          white-space: nowrap;
          font-weight: 600;
          display: flex;
          font-size: 1.6rem;
          text-transform: capitalize;
          color: #090e0d;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.2rem;
        }
      }
    }
    .auto-group-hgvs-reS {
      margin: 0rem 25.5rem 9.8rem 0rem;
      width: 127.1rem;
      height: 29.7003rem;
      position: relative;
      flex-shrink: 0;

      .main-section-N6z {
        left: 0;
        top: 0;
        background-size: 100% 128.267%;
        background-position: 0 -8.395rem;
        background-image: url('REPLACE_IMAGE:3b3964f15e02781b019cc271e3ce77c99cfefadd');
        width: 127.1rem;
        height: 29.6993rem;
        position: relative;
      }
      .main-section-section-paints-DdQ {
        top: 0.0003rem;
        background: linear-gradient(90deg, #00715d 27.6%, rgba(171, 185, 183, 0.1299999952) 72.4%);
        width: 127.1rem;
        height: 29.7rem;
        position: absolute;
        left: 0;
      }
      .main-section-nav-breadcrumb-HdG {
        box-sizing: border-box;
        width: 22.775rem;
        height: 5.2rem;
        position: absolute;
        display: flex;
        padding: 1.4rem 3.142rem 1.4rem 2.6rem;
        left: 7.6rem;
        top: 8.9003rem;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1899999976);
        border-radius: 1rem;

        .list-item-link-home-xzJ {
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.733rem 0.2rem 0rem;
          display: flex;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1;
          text-transform: uppercase;
        }
        .symbol-TAN {
          font-weight: 400;
          line-height: 1.5;
          margin-right: 1.4rem;
          font-size: 1.6rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
        }
        .list-item-link-about-us-akn {
          margin-bottom: 0.2rem;
          display: flex;
          font-size: 1.8rem;
          font-weight: 600;
          text-transform: uppercase;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          line-height: 1;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .main-section-heading-1-about-us-T3t {
        font-size: 4rem;
        line-height: 1;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        width: 19.5rem;
        position: absolute;
        left: 8.9rem;
        top: 16.6003rem;
        display: flex;
        font-weight: 700;
        text-transform: uppercase;
        white-space: nowrap;
        height: 4rem;
      }
    }
    .auto-group-icsp-hyp {
      height: 68.3rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 25.2rem 9.4rem 0rem;
      width: 120.4rem;

      .rectangle-54-bZQ {
        border: solid 0.1rem #808e9b;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 120.1rem;
        height: 62.2rem;
        position: absolute;
        left: 0;
        top: 6.1rem;
      }
      .protoboard-WRU {
        height: 2.2rem;
        left: 49.2rem;
        top: 62.302rem;
        font-size: 1.8rem;
        font-weight: 400;
        white-space: nowrap;
        width: 9rem;
        position: absolute;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .transformador-1d8 {
        left: 49.2rem;
        top: 51.502rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.1725;
        font-family: Roboto, 'Source Sans Pro';
        position: absolute;
        height: 2.2rem;
        color: #000000;
        white-space: nowrap;
        width: 12rem;
      }
      .fusible-Wpn {
        font-size: 1.8rem;
        font-weight: 400;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 49.2rem;
        top: 40.5rem;
        line-height: 1.1725;
        color: #000000;
        width: 6.2rem;
        height: 2.2rem;
      }
      .cables-de-protoboard-qMG {
        width: 17.2rem;
        height: 2.2rem;
        font-weight: 400;
        line-height: 1.1725;
        position: absolute;
        left: 49.2rem;
        top: 30.5rem;
        font-size: 1.8rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .board-VAv {
        font-size: 1.8rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        width: 4.7rem;
        height: 2.2rem;
        position: absolute;
        left: 34.0328rem;
        top: 62.302rem;
        line-height: 1.1725;
        font-family: Roboto, 'Source Sans Pro';
      }
      .transf-zNa {
        width: 4.7rem;
        height: 2.2rem;
        line-height: 1.1725;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 34.0328rem;
        top: 51.602rem;
        font-size: 1.8rem;
        font-weight: 400;
        color: #000000;
      }
      .fus-V4S {
        font-size: 1.8rem;
        line-height: 1.1725;
        width: 2.6rem;
        height: 2.2rem;
        position: absolute;
        left: 34.0328rem;
        top: 40.902rem;
        font-weight: 400;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .board-cab-bNN {
        top: 30.202rem;
        font-weight: 400;
        white-space: nowrap;
        width: 8.1rem;
        height: 2.2rem;
        left: 34.0328rem;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        position: absolute;
        font-size: 1.8rem;
        line-height: 1.1725;
      }
      .pote-Vie {
        width: 3.6rem;
        height: 2.2rem;
        top: 20.102rem;
        font-size: 1.8rem;
        font-weight: 400;
        color: #000000;
        position: absolute;
        left: 34.0328rem;
        line-height: 1.1725;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .ubicacin-1gz {
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        height: 2.9rem;
        left: 73.2rem;
        top: 10rem;
        font-size: 2.4rem;
        width: 10.5rem;
        position: absolute;
        white-space: nowrap;
      }
      .nombre-uGa {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        width: 8.3rem;
        height: 2.9rem;
        left: 51.6318rem;
        font-size: 2.4rem;
        font-weight: 700;
        position: absolute;
        top: 10.1rem;
        line-height: 1.1725;
        white-space: nowrap;
      }
      .imagen-nLN {
        font-weight: 700;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        height: 2.9rem;
        position: absolute;
        left: 3.5318rem;
        font-size: 2.4rem;
        white-space: nowrap;
        width: 8.1rem;
        top: 9.8rem;
      }
      .line-8-VVg {
        height: 0.1rem;
        position: absolute;
        left: 0.3rem;
        top: 15.8rem;
        background-color: #808e9b;
        width: 120.1rem;
      }
      .line-9-pnr {
        top: 46.4rem;
        background-color: #808e9b;
        width: 120.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0.2rem;
      }
      .line-12-xu4 {
        background-color: #808e9b;
        width: 120.2rem;
        height: 0.1rem;
        position: absolute;
        left: 0.2rem;
        top: 57.5rem;
      }
      .line-10-Ji2 {
        width: 120.1rem;
        height: 0.1rem;
        position: absolute;
        left: 0.3rem;
        top: 36.2rem;
        background-color: #808e9b;
      }
      .line-11-AVL {
        background-color: #808e9b;
        width: 120.1rem;
        height: 0.1rem;
        position: absolute;
        left: 0.3rem;
        top: 25.2rem;
      }
      .t-5000-1-JLe {
        left: 2.1318rem;
        top: 16.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        width: 10.4rem;
        height: 8.2rem;
        position: absolute;
      }
      .fdcd50956ea8862427916f7ae68aad-1-xRC {
        left: 3.5318rem;
        top: 26rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        width: 9rem;
        height: 9rem;
        position: absolute;
      }
      .b5a9243f67492871c6c3a0ac06ee51c-1-eop {
        top: 37.2rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        width: 9.7rem;
        height: 8.1rem;
        position: absolute;
        left: 2.4318rem;
      }
      .askersund-door-light-ash-effect0633750pe696043s5-1-m7k {
        height: 9.4rem;
        position: absolute;
        left: 2.0318rem;
        top: 58.2rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        width: 11.9rem;
      }
      .mi-1-Foc {
        vertical-align: top;
        border-radius: 1.5rem;
        width: 12.8rem;
        height: 8.4rem;
        position: absolute;
        left: 0.9318rem;
        top: 47.4rem;
        object-fit: cover;
      }
      .id-aaz {
        width: 2.3rem;
        position: absolute;
        left: 36.0318rem;
        top: 10.1rem;
        font-size: 2.4rem;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        height: 2.9rem;
        font-weight: 700;
        white-space: nowrap;
      }
      .potencimetro-UwG {
        width: 11.9rem;
        position: absolute;
        font-size: 1.8rem;
        font-family: Roboto, 'Source Sans Pro';
        line-height: 1.1725;
        color: #000000;
        white-space: nowrap;
        height: 2.2rem;
        left: 49.2rem;
        top: 20rem;
        font-weight: 400;
      }
      .item-12-z8v {
        text-align: center;
        line-height: 1.5;
        width: 1.7rem;
        position: absolute;
        left: 100.7rem;
        font-weight: 400;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.7rem;
        top: 51.2rem;
        font-size: 1.8rem;
      }
      .item-5-37C {
        text-align: center;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        height: 2.7rem;
        position: absolute;
        top: 62.3rem;
        font-size: 1.8rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        width: 1.2rem;
        left: 101.2rem;
      }
      .item-15-Lrz {
        position: absolute;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        height: 2.7rem;
        left: 100.9rem;
        top: 40.6rem;
        text-align: center;
        color: #000000;
        white-space: nowrap;
        width: 1.8rem;
      }
      .item-25-FUA {
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        height: 2.7rem;
        left: 100.5rem;
        top: 19.702rem;
        text-align: center;
        color: #000000;
        white-space: nowrap;
        width: 2.2rem;
        position: absolute;
        font-size: 1.8rem;
        line-height: 1.5;
      }
      .cantidad-ALE {
        position: absolute;
        font-weight: 700;
        font-family: Roboto, 'Source Sans Pro';
        width: 9.7rem;
        height: 2.9rem;
        left: 97rem;
        top: 10.3rem;
        font-size: 2.4rem;
        line-height: 1.1725;
        color: #000000;
        white-space: nowrap;
      }
      .item-52-fnn {
        font-weight: 400;
        line-height: 1.5;
        width: 2.2rem;
        text-align: center;
        font-size: 1.8rem;
        top: 30.002rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.7rem;
        position: absolute;
        left: 100.5rem;
      }
    }
    .auto-group-fnjs-AzS {
      flex-shrink: 0;
      margin: 0rem 72.6rem 0rem 49.4rem;
      width: calc(100% - 122rem);
      height: 5rem;
      display: flex;
      column-gap: 0.9rem;
      align-items: center;

      .nav-list-item-Sh4 {
        display: flex;
        white-space: nowrap;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        background-color: #00715d;
        width: 5rem;
        height: 100%;
        font-size: 1.8rem;
        align-items: center;
        justify-content: center;
        border-radius: 2.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
      }
      .nav-list-item-link-s1g {
        align-items: center;
        display: flex;
        font-size: 1.8rem;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 2.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #090e0d;
        border: solid 0.1rem #cccdd3;
        height: 100%;
        white-space: nowrap;
        justify-content: center;
        width: 5rem;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .nav-list-item-link-8yC {
        width: 5rem;
        display: flex;
        font-weight: 400;
        border: solid 0.1rem #cccdd3;
        flex-shrink: 0;
        font-size: 1.8rem;
        line-height: 1.5;
        color: #090e0d;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 2.5rem;
        height: 100%;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
      }
      .nav-list-item-link-pLE {
        width: 5rem;
        color: #090e0d;
        box-sizing: border-box;
        font-weight: 400;
        white-space: nowrap;
        border: solid 0.1rem #cccdd3;
        align-items: center;
        border-radius: 2.5rem;
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        line-height: 1.5;
        font-family: Inter, 'Source Sans Pro';
        height: 100%;
        justify-content: center;
      }
      .nav-list-item-link-next--JFQ {
        vertical-align: top;
        border-radius: 3rem;
        flex-shrink: 0;
        width: 7rem;
        height: 5rem;
        object-fit: contain;
      }
    }
  }
  .auto-group-jq1p-bEW {
    width: 100%;
    height: 65.3rem;
    position: relative;
    flex-shrink: 0;

    .footer-WsG {
      width: 127.1rem;
      height: 65.3rem;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(267.95deg, #222928 148%, #090e0d 199.4%);

      .before-RzE {
        top: 0;
        background-size: 43.683% 88.668%;
        background-position: 44.6645rem 3.7rem;
        background-image: url('REPLACE_IMAGE:7e5681506b5d41c0e9a1c885fab334dd33591152');
        width: 92.9515rem;
        height: 65.3rem;
        position: relative;
        left: 0;
      }
      .divcontainer-XnN {
        top: 8.1rem;
        width: 112.6rem;
        height: 47.7rem;
        position: absolute;
        left: 11.3rem;

        .auto-group-ntwn-FyG {
          padding: 0rem 9.4rem 11.65rem 9.3rem;
          width: 100%;
          height: 47.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;

          .auto-group-zw1u-AaS {
            margin: 0rem 0rem 11.9rem 34.895rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .nav-list-item-link-home-Hux {
              margin: 0rem 5.905rem 0.4rem 0rem;
              font-weight: 600;
              line-height: 1;
              color: #ffffff;
              white-space: nowrap;
              display: flex;
              font-size: 1.8rem;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .component-2-aPG {
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.391rem 6rem 0rem 0rem;
              width: 8.5rem;
              height: 1.5909rem;
            }
            .component-4-UUe {
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.391rem 6rem 0rem 0rem;
              width: 13rem;
              height: 1.5909rem;
            }
            .nav-list-item-link-contact-N4E {
              color: #ffffff;
              font-size: 1.6rem;
              line-height: 1.5;
              text-transform: capitalize;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-weight: 600;
            }
          }
          .auto-group-tzhl-5US {
            margin: 0rem 14.1rem 0.75rem 0rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .heading-4-explore-links-cDU {
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              line-height: 1.5;
              font-weight: 700;
              margin: 0.2rem 18.8rem 0rem 0rem;
              font-size: 2rem;
            }
            .heading-4-get-support-W3x {
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              margin-right: 23.7rem;
              color: #ffffff;
              white-space: nowrap;
            }
            .heading-4-get-support-RRp {
              margin-top: 1.2rem;
              font-size: 2rem;
              line-height: 1.5;
              white-space: nowrap;
              display: flex;
              font-weight: 700;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .auto-group-9ve6-9Mp {
            margin-right: 7.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-zoen-tKQ {
              margin: 0.2rem 19.1rem 0rem 0rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .list-item-link-about-company-oSN {
                line-height: 1.5625;
                white-space: nowrap;
                margin-bottom: 1.05rem;
                font-weight: 400;
                color: #949b95;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
              }
              .list-item-link-latest-projects-sh8 {
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5625;
                color: #949b95;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .auto-group-kx1t-PfU {
              margin: 0rem 25.7rem 0.25rem 0rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .list-item-link-about-vfQ {
                font-size: 1.6rem;
                line-height: 1.5625;
                color: #949b95;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                display: flex;
                font-weight: 400;
              }
              .list-item-link-how-it-works-ebQ {
                font-weight: 400;
                line-height: 1.5625;
                color: #949b95;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
              }
            }
            .list-item-aEA {
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.5rem;
              flex-shrink: 0;
              margin: 0rem 1rem 0.75rem 0rem;
              width: 3rem;
            }
            .list-item-link-donationgmailcom-h3t {
              font-weight: 400;
              line-height: 1.5625;
              color: #949b95;
              margin-bottom: 0.75rem;
              display: flex;
              font-size: 1.6rem;
              text-decoration-line: underline;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .auto-group-p1f4-oci {
            margin: 0rem 13.6rem 0.75rem 0rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .list-item-link-latest-blog-YKQ {
              white-space: nowrap;
              font-size: 1.6rem;
              font-family: Inter, 'Source Sans Pro';
              font-weight: 400;
              line-height: 1.5625;
              color: #949b95;
              flex-shrink: 0;
              margin: 1rem 17.1rem 0rem 0rem;
              display: flex;
            }
            .list-item-link-knowledge-hub-zhC {
              display: flex;
              font-weight: 400;
              line-height: 1.5625;
              font-family: Inter, 'Source Sans Pro';
              margin: 0.5rem 23.7rem 0rem 0rem;
              font-size: 1.6rem;
              color: #949b95;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .list-item-Jht {
              margin: 0rem 1rem 0.5rem 0rem;
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.5rem;
              flex-shrink: 0;
            }
            .list-item-link-88-111-222-333-1sC {
              color: #949b95;
              margin-bottom: 0.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5625;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
          }
          .auto-group-ture-vDU {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-4dne-GHL {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.2rem 19.4rem 0rem 0rem;

              .list-item-link-our-testimonials-Psk {
                margin-bottom: 1rem;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5625;
                font-family: Inter, 'Source Sans Pro';
                color: #949b95;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .list-item-link-our-mission-KFc {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5625;
                color: #949b95;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
              }
            }
            .auto-group-naxn-cVc {
              margin: 0rem 23.6rem 0.2rem 0rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .list-item-link-success-stories-KQ2 {
                font-size: 1.6rem;
                font-family: Inter, 'Source Sans Pro';
                line-height: 1.5625;
                color: #949b95;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                display: flex;
                font-weight: 400;
              }
              .list-item-link-contact-Rxr {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5625;
                color: #949b95;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
              }
            }
            .list-item-MLi {
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.5rem;
              flex-shrink: 0;
              margin: 0rem 1rem 1.7rem 0rem;
            }
            .list-item-link-tropical-cyclone-volcano-g86 {
              margin-bottom: 1.7rem;
              display: flex;
              line-height: 1.5625;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              color: #949b95;
            }
          }
        }
      }
      .link-logo-charitfixpng-ZBt {
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:cd672ca0f5b18af2d5cf85e5a58e3b8ff5628493');
        width: 17.8rem;
        height: 4.4rem;
        position: relative;
        left: 14.2rem;
        top: 7rem;
      }
      .copyright-2023-inittheme-all-rights-reserved-F4i {
        position: absolute;
        left: 19.5141rem;
        top: 58.4rem;
        justify-content: center;
        font-size: 1.6rem;
        color: #949b95;
        white-space: nowrap;
        width: 36.7rem;
        height: 2.5rem;
        align-items: center;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        line-height: 1.5625;
      }
      .list-item-link-HXC {
        left: 102.3rem;
        top: 58.7rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        width: 3.8rem;
        height: 3.6rem;
        position: absolute;
      }
      .list-item-link-yup {
        width: 3.8rem;
        height: 3.6rem;
        position: absolute;
        left: 107.5rem;
        top: 58.7rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
      }
      .list-item-link-VNN {
        width: 3.8rem;
        height: 3.6rem;
        position: absolute;
        left: 112.7rem;
        top: 58.7rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
      }
      .list-item-link-1bc {
        width: 3.8rem;
        height: 3.6rem;
        position: absolute;
        left: 117.9rem;
        top: 58.7rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
      }
    }
    .separator-hjL {
      box-sizing: border-box;
      width: 141.1rem;
      height: 0.1rem;
      position: absolute;
      left: 11.5rem;
      top: 16.2rem;
      overflow: hidden;
      border: solid 0.1rem rgba(93, 107, 105, 0.25);
    }
  }
}
