
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.mobile-login-pWJ {
  box-sizing: border-box;
  padding-bottom: 0.0217rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-eate-XQi {
    position: relative;
    flex-shrink: 0;
    margin-bottom: 6.6rem;
    width: 100%;
    height: 22.2rem;

    .header-rht {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 2.338rem 2.1rem 2.462rem 1.2rem;
      width: 39rem;
      height: 9.2rem;

      .divcol-lg-12-Yqc {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .link-faviconpng-tea {
          margin-right: 21.5rem;
          width: 11.2rem;
          height: 4.4rem;
          position: relative;
          background-size: 100% 100%;
          background-image: url('REPLACE_IMAGE:cd672ca0f5b18af2d5cf85e5a58e3b8ff5628493');
          flex-shrink: 0;
        }
        .auto-group-w6g6-PLS {
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.362rem 0rem 1.038rem 0rem;
          width: 3rem;
          height: calc(100% - 2.4rem);
          row-gap: 0.7rem;
          align-items: center;
          display: flex;

          .button-h6E {
            height: 0.2rem;
            background-color: #00715d;
            flex-shrink: 0;
            width: 100%;
          }
          .button-F7k {
            background-color: #00715d;
            flex-shrink: 0;
            width: 100%;
            height: 0.2rem;
          }
          .button-ntN {
            height: 0.2rem;
            background-color: #00715d;
            flex-shrink: 0;
            width: 100%;
          }
        }
      }
    }
    .main-section-8SS {
      background: linear-gradient(90deg, #00715d 27.6%, #538981 72.4%);
      position: absolute;
      font-size: 2rem;
      line-height: 1.5;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      box-sizing: border-box;
      width: 39rem;
      font-weight: 700;
      text-transform: uppercase;
      left: 0;
      display: flex;
      top: 9.2rem;
      white-space: nowrap;
      padding: 5rem 1.2rem;
      height: 13rem;
    }
  }
  .main-AP8 {
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 2.964rem 3rem 3rem;
    width: calc(100% - 2.4rem);
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 6rem rgba(0, 0, 0, 0.0700000003);
    background-color: #ffffff;
    border-radius: 1rem;
    margin: 0rem 1.2rem 6.979rem 1.2rem;

    .link-logo-charitfixpng-Td8 {
      background-image: url('REPLACE_IMAGE:cd672ca0f5b18af2d5cf85e5a58e3b8ff5628493');
      flex-shrink: 0;
      margin: 0rem 0.036rem 4rem 0rem;
      width: 14rem;
      height: 3.459rem;
      position: relative;
      background-size: 100% 100%;
    }
    .form-label-email-kcE {
      margin: 0rem 26.536rem 0.8rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      white-space: nowrap;
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      line-height: 1.5;
      text-transform: capitalize;
      color: #636b6a;
    }
    .form-input-qdg {
      box-sizing: border-box;
      height: 5rem;
      border: solid 0.1rem #cccdd3;
      border-radius: 0.8rem;
      margin: 0rem 0.036rem 2.4rem 0rem;
      width: calc(100% - 0.0359rem);
      background-color: #f8f8f8;
      flex-shrink: 0;
      padding: 1.5rem 2.1rem;

      .divplaceholder-9uG {
        margin-right: 14rem;
        width: 12.4rem;
        font-size: 1.6rem;
        align-items: center;
        font-weight: 400;
        line-height: 1.2125;
        height: 100%;
        position: relative;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        color: #999999;
        justify-content: center;
      }
    }
    .auto-group-w1ga-oyp {
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin-bottom: 0.8rem;

      .form-label-password-9nn {
        display: flex;
        font-size: 1.6rem;
        text-transform: capitalize;
        color: #636b6a;
        white-space: nowrap;
        margin-right: 10.6359rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .form-link-forgot-password-fm8 {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #00715d;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .form-input-zHc {
      background-color: #f8f8f8;
      margin: 0rem 0.036rem 2.4rem 0rem;
      padding: 1.5rem 1.778rem 1.5rem 2.1rem;
      align-items: center;
      border: solid 0.1rem #cccdd3;
      border-radius: 0.8rem;
      flex-shrink: 0;
      box-sizing: border-box;
      width: calc(100% - 0.0359rem);
      height: 5rem;
      display: flex;

      .divplaceholder-VkA {
        display: flex;
        align-items: center;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 11.9rem;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        margin-right: 13.199rem;
        font-weight: 400;
        color: #999999;
      }
      .form-zgv {
        margin-bottom: 0.2rem;
        width: 1.623rem;
        height: 1.35rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .form-link-Hvv {
      position: relative;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.5;
      text-transform: capitalize;
      white-space: nowrap;
      background-color: #00715d;
      flex-shrink: 0;
      margin: 0rem 22.644rem 3.35rem 0rem;
      height: 4.7rem;
      justify-content: center;
      color: #ffffff;
      border-radius: 1rem;
      width: 7.992rem;
      overflow: hidden;
      display: flex;
    }
    .dont-have-an-account-register-kZc {
      font-weight: 400;
      color: #666666;
      flex-shrink: 0;
      margin: 0rem 0rem 2.85rem 0rem;
      display: flex;
      justify-content: center;
      font-size: 1.4rem;
      white-space: nowrap;
      align-items: baseline;
      line-height: 1.4285714286;
      letter-spacing: 0.05rem;
      font-family: Inter, 'Source Sans Pro';

      .dont-have-an-account-register-kZc-sub-0 {
      }
      .dont-have-an-account-register-kZc-sub-1 {
        letter-spacing: 0.05rem;
        color: #00715d;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4285714286;
      }
    }
    .link-AFx {
      align-items: center;
      border: solid 0.1rem rgba(168, 168, 168, 0.4199999869);
      border-radius: 0.6rem;
      margin-right: 0.0359rem;
      box-sizing: border-box;
      width: calc(100% - 0.0359rem);
      display: flex;
      padding: 1.3rem 7.731rem 1.3rem 7.783rem;
      flex-shrink: 0;

      .google-iconpng-sgA {
        background-image: url('REPLACE_IMAGE:7e308d017d4c83d14c2046673ce445e287ce3927');
        flex-shrink: 0;
        margin-right: 0.986rem;
        width: 2.4rem;
        height: 2.4rem;
        position: relative;
        background-size: 100% 100%;
      }
      .login-with-google-PPc {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.5;
        color: #666666;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .footer-EQE {
    width: 100%;
    height: 133.459rem;
    position: relative;
    background-size: 153.846% 43.384%;
    background-position: -10.5rem 37.7795rem;
    background-image: url('REPLACE_IMAGE:7e5681506b5d41c0e9a1c885fab334dd33591152');
    background: linear-gradient(70.22deg, #222928 0%, #090e0d 99.4%);
    flex-shrink: 0;

    .separator-j66 {
      top: 11.46rem;
      overflow: hidden;
      border: solid 0.1rem rgba(93, 107, 105, 0.25);
      box-sizing: border-box;
      width: 36.6rem;
      height: 0.2rem;
      position: absolute;
      left: 1.2rem;
    }
    .heading-4-explore-links-qQ2 {
      top: 15.66rem;
      display: flex;
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
      width: 10.7rem;
      height: 3rem;
      position: absolute;
      left: 1.2rem;
      font-size: 1.6rem;
      line-height: 1.875;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .list-item-link-latest-projects-X1x {
      display: flex;
      font-size: 1.6rem;
      color: #949b95;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 1.2rem;
      top: 24.16rem;
      line-height: 1.5625;
      white-space: nowrap;
      width: 13rem;
      height: 2.5rem;
      font-weight: 400;
    }
    .list-item-link-latest-blog-cZC {
      left: 1.2rem;
      top: 27.66rem;
      font-weight: 400;
      white-space: nowrap;
      height: 2.5rem;
      position: absolute;
      display: flex;
      font-size: 1.6rem;
      line-height: 1.5625;
      color: #949b95;
      font-family: Inter, 'Source Sans Pro';
      width: 15rem;
    }
    .list-item-link-our-testimonials-WuU {
      font-weight: 400;
      position: absolute;
      top: 31.16rem;
      font-size: 1.4rem;
      display: flex;
      line-height: 1.7857142857;
      color: #949b95;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.1rem;
      height: 2.5rem;
      left: 1.2rem;
    }
    .list-item-link-our-mission-1bL {
      top: 34.66rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.7857142857;
      width: 7.9rem;
      height: 2.5rem;
      position: absolute;
      left: 1.2rem;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      color: #949b95;
      white-space: nowrap;
    }
    .heading-4-get-support-K6E {
      font-family: Open Sans, 'Source Sans Pro';
      position: absolute;
      left: 1.2rem;
      top: 40.56rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.875;
      width: 9.6rem;
      height: 3rem;
      display: flex;
      color: #ffffff;
      white-space: nowrap;
    }
    .list-item-link-about-2FY {
      top: 45.56rem;
      display: flex;
      color: #949b95;
      width: 4rem;
      height: 2.5rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.7857142857;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 1.2rem;
    }
    .list-item-link-how-it-works-L1L {
      height: 2.5rem;
      position: absolute;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      color: #949b95;
      width: 8.8rem;
      left: 1.2rem;
      top: 49.06rem;
      display: flex;
      font-size: 1.4rem;
      line-height: 1.7857142857;
    }
    .list-item-link-knowledge-hub-RoU {
      position: absolute;
      white-space: nowrap;
      display: flex;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.7857142857;
      width: 10.5rem;
      height: 2.5rem;
      left: 1.2rem;
      top: 52.56rem;
      color: #949b95;
      font-family: Inter, 'Source Sans Pro';
    }
    .list-item-link-success-stories-LQe {
      position: absolute;
      left: 1.2rem;
      top: 56.06rem;
      font-weight: 400;
      line-height: 1.7857142857;
      color: #949b95;
      width: 10.6rem;
      height: 2.5rem;
      display: flex;
      font-size: 1.4rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .list-item-link-contact-duY {
      left: 1.2rem;
      font-size: 1.4rem;
      color: #949b95;
      white-space: nowrap;
      font-weight: 400;
      line-height: 1.7857142857;
      font-family: Inter, 'Source Sans Pro';
      width: 5.3rem;
      height: 2.5rem;
      position: absolute;
      top: 59.56rem;
      display: flex;
    }
    .heading-4-get-support-Xk2 {
      position: absolute;
      left: 1.2rem;
      top: 65.46rem;
      font-weight: 700;
      line-height: 1.875;
      color: #ffffff;
      width: 9.6rem;
      height: 3rem;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-size: 1.6rem;
    }
    .auto-group-s1jw-RaW {
      position: absolute;
      left: 1.2rem;
      top: 70.46rem;
      display: flex;
      align-items: center;
      width: 18.3rem;
      height: 3rem;

      .list-item-A2J {
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 1rem;
        width: 3rem;
        height: 3rem;
      }
      .list-item-link-donationgmailcom-V4a {
        color: #949b95;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        line-height: 1.5625;
        text-decoration-line: underline;
        display: flex;
        font-weight: 400;
      }
    }
    .auto-group-qitp-12v {
      top: 75.46rem;
      display: flex;
      align-items: center;
      width: 12.5rem;
      height: 3rem;
      position: absolute;
      left: 1.2rem;

      .list-item-X1G {
        margin-right: 1rem;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
      .list-item-link-88-111-222-333-q1x {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5625;
        color: #949b95;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-t3fc-w4z {
      position: absolute;
      left: 1.2rem;
      top: 80.46rem;
      display: flex;
      align-items: center;
      width: 26.1rem;
      height: 3rem;

      .list-item-rBx {
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 1rem;
        width: 3rem;
      }
      .list-item-link-tropical-cyclone-volcano-adk {
        font-weight: 400;
        line-height: 1.5625;
        color: #949b95;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1.6rem;
      }
    }
    .separator-hCa {
      left: 1.2rem;
      top: 117.86rem;
      overflow: hidden;
      border: solid 0.1rem rgba(93, 107, 105, 0.25);
      box-sizing: border-box;
      width: 36.6rem;
      height: 0.2rem;
      position: absolute;
    }
    .link-darkpng-c4e {
      height: 3.459rem;
      position: relative;
      left: 1.2rem;
      top: 4rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:cd672ca0f5b18af2d5cf85e5a58e3b8ff5628493');
      width: 14rem;
    }
    .copyright-2023-inittheme-all-rights-reserved-WA2 {
      top: 121.01rem;
      justify-content: center;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5625;
      height: 5rem;
      position: absolute;
      left: 4.91rem;
      color: #949b95;
      font-family: Inter, 'Source Sans Pro';
      width: 29.2rem;
      display: flex;
      align-items: center;
    }
    .auto-group-gms6-MgS {
      column-gap: 1.4rem;
      align-items: center;
      width: 19.4rem;
      height: 3.6rem;
      position: absolute;
      left: 9.8rem;
      top: 127.46rem;
      display: flex;

      .list-item-link-56e {
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 3.8rem;
        height: 3.6rem;
        object-fit: contain;
      }
      .list-item-link-P7L {
        width: 3.8rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .list-item-link-Whk {
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 3.8rem;
        height: 3.6rem;
        object-fit: contain;
      }
      .list-item-link-eJA {
        width: 3.8rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
    }
    .list-item-link-about-company-mta {
      left: 1.2rem;
      top: 20.55rem;
      font-weight: 400;
      line-height: 1.5625;
      font-family: Inter, 'Source Sans Pro';
      width: 5.9rem;
      height: 2.5rem;
      position: absolute;
      white-space: nowrap;
      display: flex;
      font-size: 1.6rem;
      color: #949b95;
    }
    .footer-EQE-bg {
      width: 39rem;
      height: 133.459rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:7e5681506b5d41c0e9a1c885fab334dd33591152');
    }
  }
}
