
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 13rem;
}.group-8-aGN {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.group-8-aGN .auto-group-gkpr-vLE {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-8-aGN .auto-group-gkpr-vLE .instrumentos-f2v {
  margin-right: 1.6rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-8-aGN .auto-group-gkpr-vLE .vector-KtA {
  margin-top: 0.5rem;
  width: 1rem;
  height: 0.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-8-aGN .en-stock-TDg {
  margin-bottom: 1.2rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7142857143;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-8-aGN .sin-stock-NLe {
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7142857143;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
