
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 127.168rem;
}.instrumentos-en-stock-9MY {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx {
  margin: 0rem 19.651rem 0rem 6.8rem;
  width: calc(100% - 26.4512rem);
  height: 11rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .link-logo-charitfixpng-nfQ {
  margin: 0.077rem 1.468rem 0rem 0rem;
  width: 17.8rem;
  height: 4.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/link-logo-charitfixpng-qZ8.png');
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .auto-group-gd26-Szr {
  width: 81.4488rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .auto-group-gd26-Szr .header-CUE {
  box-sizing: border-box;
  padding: 4.438rem 13.551rem 4.162rem 21.032rem;
  width: 75.1rem;
  height: 11rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .auto-group-gd26-Szr .header-CUE .nav-list-item-link-home--6pW {
  margin-right: 0.1449rem;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .auto-group-gd26-Szr .header-CUE .nav-list-item-link-ajg {
  margin: 0.4rem 5.272rem 0.4rem 0rem;
  width: 1.6rem;
  height: calc(100% - 0.8rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .auto-group-gd26-Szr .header-CUE .component-5-Htz {
  margin: 0rem 7rem 0.009rem 0rem;
  width: 8.5rem;
  height: 1.5909rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .auto-group-gd26-Szr .header-CUE .component-4-bPt {
  margin-bottom: 0.0091rem;
  width: 13rem;
  height: 1.5909rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-39mp-Gwx .auto-group-gd26-Szr .nav-list-item-link-contact-J3Q {
  width: 12.9rem;
  height: 2.4rem;
  position: absolute;
  left: 68.5488rem;
  top: 4.2383rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 {
  margin: 0rem 0rem 11.538rem 0.068rem;
  box-sizing: border-box;
  padding: 8.938rem 6.732rem 9.062rem 6.732rem;
  width: 127.1rem;
  background-size: 100% 128.267%;
  background-position: 0 -8.3952rem;
  background-image: url('../assets/section-bg-DkA.png');
  background: linear-gradient(90deg, #00715d 27.6%, rgba(171, 185, 183, 0.1299999952) 72.4%);
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 .breadcrumb-G8e {
  margin: 0rem 90.073rem 2.5rem 0rem;
  box-sizing: border-box;
  padding: 1.4rem 1.495rem 1.4rem 1.568rem;
  width: calc(100% - 90.0733rem);
  height: 5.2rem;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1899999976);
  border-radius: 1rem;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 .breadcrumb-G8e .list-item-link-home-xnA {
  margin: 0rem 1rem 0.277rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 .breadcrumb-G8e .auto-group-nixe-eez {
  width: 14rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 .breadcrumb-G8e .auto-group-nixe-eez .symbol-CgW {
  width: 1rem;
  height: 2.4rem;
  position: absolute;
  left: 0.7648rem;
  top: 0;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 .breadcrumb-G8e .auto-group-nixe-eez .list-item-link-donation-JDk {
  width: 14rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 0.1617rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 .donation-list-ZfU {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-4uoq-ZV8 .auto-group-4uoq-ZV8-bg {
  width: 127.1rem;
  height: 29.7rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:3b3964f15e02781b019cc271e3ce77c99cfefadd');
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot {
  margin: 0rem 3.468rem 7.4rem 3.5rem;
  width: calc(100% - 6.9682rem);
  height: 68.3rem;
  position: relative;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .rectangle-54-FAv {
  width: 120.1rem;
  height: 62.2rem;
  position: absolute;
  left: 0.1rem;
  top: 6.1rem;
  border: solid 0.1rem #808e9b;
  box-sizing: border-box;
  background-color: #ffffff;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .analizador-de-redes-vectoriales-KRg {
  width: 13.6rem;
  height: 4.3rem;
  position: absolute;
  left: 49rem;
  top: 62.302rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .generador-de-seales-PRY {
  width: 8.6rem;
  height: 4.3rem;
  position: absolute;
  left: 49rem;
  top: 51.502rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .osciloscopio-sk2 {
  width: 10.2rem;
  height: 2.2rem;
  position: absolute;
  left: 49rem;
  top: 40.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .voltmetro-aPY {
  width: 8.1rem;
  height: 2.2rem;
  position: absolute;
  left: 49rem;
  top: 30.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .arv-HYr {
  width: 2.5rem;
  height: 2.2rem;
  position: absolute;
  left: 33.8328rem;
  top: 62.302rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .gens-zy4 {
  width: 4.4rem;
  height: 2.2rem;
  position: absolute;
  left: 33.8328rem;
  top: 51.602rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .osc-i8N {
  width: 2.9rem;
  height: 2.2rem;
  position: absolute;
  left: 33.8328rem;
  top: 40.902rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .volti-QWz {
  width: 3.4rem;
  height: 2.2rem;
  position: absolute;
  left: 33.8328rem;
  top: 30.202rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .laps-JMU {
  width: 3.9rem;
  height: 2.2rem;
  position: absolute;
  left: 33.8328rem;
  top: 20.102rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .ubicacin-c7G {
  width: 10.5rem;
  height: 2.9rem;
  position: absolute;
  left: 73rem;
  top: 10rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .nombre-7Jv {
  width: 8.3rem;
  height: 2.9rem;
  position: absolute;
  left: 51.4318rem;
  top: 10.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .imagen-DMx {
  width: 8.1rem;
  height: 2.9rem;
  position: absolute;
  left: 3.3318rem;
  top: 9.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .line-8-XNe {
  width: 120.1rem;
  height: 0.1rem;
  position: absolute;
  left: 0.1rem;
  top: 15.8rem;
  background-color: #808e9b;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .line-9-47g {
  width: 120.2rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 46.4rem;
  background-color: #808e9b;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .line-12-zn2 {
  width: 120.2rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 57.5rem;
  background-color: #808e9b;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .line-10-8tE {
  width: 120.1rem;
  height: 0.1rem;
  position: absolute;
  left: 0.1rem;
  top: 36.2rem;
  background-color: #808e9b;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .line-11-4mt {
  width: 120.1rem;
  height: 0.1rem;
  position: absolute;
  left: 0.1rem;
  top: 25.2rem;
  background-color: #808e9b;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .t-5000-1-Ct6 {
  width: 10.4rem;
  height: 8.2rem;
  position: absolute;
  left: 1.9318rem;
  top: 16.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.5rem;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .fdcd50956ea8862427916f7ae68aad-1-JRL {
  width: 9rem;
  height: 9rem;
  position: absolute;
  left: 3.3318rem;
  top: 26rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.5rem;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .b5a9243f67492871c6c3a0ac06ee51c-1-MeW {
  width: 9.7rem;
  height: 8.1rem;
  position: absolute;
  left: 2.2318rem;
  top: 37.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.5rem;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .askersund-door-light-ash-effect0633750pe696043s5-1-s74 {
  width: 11.9rem;
  height: 9.4rem;
  position: absolute;
  left: 1.8318rem;
  top: 58.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.5rem;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .mi-1-Zka {
  width: 12.8rem;
  height: 8.4rem;
  position: absolute;
  left: 0.7318rem;
  top: 47.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.5rem;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .id-gqC {
  width: 2.3rem;
  height: 2.9rem;
  position: absolute;
  left: 35.8318rem;
  top: 10.1rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .lpiz-soldador-16n {
  width: 11.3rem;
  height: 2.2rem;
  position: absolute;
  left: 49rem;
  top: 20rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .aula-n3-iG6 {
  width: 6.7rem;
  height: 2.2rem;
  position: absolute;
  left: 73.6682rem;
  top: 20rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .aula-n1-RAW {
  width: 6.7rem;
  height: 2.2rem;
  position: absolute;
  left: 73.6682rem;
  top: 30.4617rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .aula-n2-jBC {
  width: 6.1rem;
  height: 2.2rem;
  position: absolute;
  left: 73.6682rem;
  top: 40.9234rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .aula-n2-Rpi {
  width: 6.7rem;
  height: 2.2rem;
  position: absolute;
  left: 73.6682rem;
  top: 51.3851rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .aula-n1-8DL {
  width: 6.7rem;
  height: 2.2rem;
  position: absolute;
  left: 73.6682rem;
  top: 61.8468rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-omr8-Zot .cantidad-SE2 {
  width: 9.7rem;
  height: 2.9rem;
  position: absolute;
  left: 96.8rem;
  top: 10.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .auto-group-cycv-8Mk {
  margin: 0rem 47.368rem 93.7rem 49.2rem;
  width: calc(100% - 96.5682rem);
  height: 5rem;
  display: flex;
  column-gap: 0.9rem;
  align-items: center;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-cycv-8Mk .nav-list-item-pVU {
  width: 5rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #00715d;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-cycv-8Mk .nav-list-item-link-6Sz {
  width: 5rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cccdd3;
  box-sizing: border-box;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-cycv-8Mk .nav-list-item-link-xVC {
  width: 5rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cccdd3;
  box-sizing: border-box;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-cycv-8Mk .nav-list-item-link-S9U {
  width: 5rem;
  height: 100%;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #cccdd3;
  box-sizing: border-box;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .auto-group-cycv-8Mk .nav-list-item-link-next--uok {
  width: 7rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 3rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc {
  margin-right: 0.0682rem;
  width: 127.1rem;
  height: 65.3rem;
  position: relative;
  background: linear-gradient(267.95deg, #222928 148%, #090e0d 199.4%);
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .before-kpN {
  width: 92.9515rem;
  height: 65.3rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 43.683% 88.668%;
  background-position: 44.6645rem 3.7rem;
  background-image: url('../assets/before.png');
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk {
  width: 112.6rem;
  height: 47.7rem;
  position: absolute;
  left: 11.3rem;
  top: 8.1rem;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE {
  box-sizing: border-box;
  padding: 0rem 9.4rem 11.65rem 9.3rem;
  width: 100%;
  height: 47.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-z9ee-Utn {
  margin: 0rem 0rem 11.9rem 34.895rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-z9ee-Utn .nav-list-item-link-home-cVC {
  margin: 0rem 5.905rem 0.4rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-z9ee-Utn .component-2-W4n {
  margin: 0.391rem 6rem 0rem 0rem;
  width: 8.5rem;
  height: 1.5909rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-z9ee-Utn .component-4-d9Q {
  margin: 0.391rem 6rem 0rem 0rem;
  width: 13rem;
  height: 1.5909rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-z9ee-Utn .nav-list-item-link-contact-wvn {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-hqnn-E9C {
  margin: 0rem 14.1rem 0.75rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-hqnn-E9C .heading-4-explore-links-YQn {
  margin: 0.2rem 18.8rem 0rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-hqnn-E9C .heading-4-get-support-3cS {
  margin-right: 23.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-hqnn-E9C .heading-4-get-support-NPp {
  margin-top: 1.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-qvei-hBC {
  margin-right: 7.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-qvei-hBC .auto-group-4qft-qHQ {
  margin: 0.2rem 19.1rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-qvei-hBC .auto-group-4qft-qHQ .list-item-link-about-company-NHL {
  margin-bottom: 1.05rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-qvei-hBC .auto-group-4qft-qHQ .list-item-link-latest-projects-UrA {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-qvei-hBC .auto-group-2p2w-bft {
  margin: 0rem 25.7rem 0.25rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-qvei-hBC .auto-group-2p2w-bft .list-item-link-about-j1Q {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-qvei-hBC .auto-group-2p2w-bft .list-item-link-how-it-works-omx {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-qvei-hBC .list-item-KEW {
  margin: 0rem 1rem 0.75rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-qvei-hBC .list-item-link-donationgmailcom-EMU {
  margin-bottom: 0.75rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  text-decoration-line: underline;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-rgc6-9DY {
  margin: 0rem 13.6rem 0.75rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-rgc6-9DY .list-item-link-latest-blog-4bQ {
  margin: 1rem 17.1rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-rgc6-9DY .list-item-link-knowledge-hub-9cr {
  margin: 0.5rem 23.7rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-rgc6-9DY .list-item-4E2 {
  margin: 0rem 1rem 0.5rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-rgc6-9DY .list-item-link-88-111-222-333-B3k {
  margin-bottom: 0.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-4amt-tir {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-4amt-tir .auto-group-8vur-3Lr {
  margin: 0.2rem 19.4rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-4amt-tir .auto-group-8vur-3Lr .list-item-link-our-testimonials-ara {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-4amt-tir .auto-group-8vur-3Lr .list-item-link-our-mission-WES {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-4amt-tir .auto-group-mehl-ERL {
  margin: 0rem 23.6rem 0.2rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-4amt-tir .auto-group-mehl-ERL .list-item-link-success-stories-AZt {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-4amt-tir .auto-group-mehl-ERL .list-item-link-contact-5gr {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-4amt-tir .list-item-REv {
  margin: 0rem 1rem 1.7rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .divcontainer-euk .auto-group-rkcz-ySE .auto-group-4amt-tir .list-item-link-tropical-cyclone-volcano-wUA {
  margin-bottom: 1.7rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instrumentos-en-stock-9MY .footer-qBc .link-logo-charitfixpng-2kW {
  width: 17.8rem;
  height: 4.4rem;
  position: relative;
  left: 14.2rem;
  top: 7rem;
  background-size: 100% 100%;
  background-image: url('../assets/link-logo-charitfixpng-Fhg.png');
}
.instrumentos-en-stock-9MY .footer-qBc .copyright-2023-inittheme-all-rights-reserved-Kjc {
  width: 36.7rem;
  height: 2.5rem;
  position: absolute;
  left: 19.5141rem;
  top: 58.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.instrumentos-en-stock-9MY .footer-qBc .list-item-link-avS {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 102.3rem;
  top: 58.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.instrumentos-en-stock-9MY .footer-qBc .list-item-link-hVG {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 107.5rem;
  top: 58.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.instrumentos-en-stock-9MY .footer-qBc .list-item-link-pZt {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 112.7rem;
  top: 58.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.instrumentos-en-stock-9MY .footer-qBc .list-item-link-M42 {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 117.9rem;
  top: 58.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
