
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 127.168rem;
}.login-Fmg {
  box-sizing: border-box;
  padding-top: 3.3383rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.login-Fmg .auto-group-6tnv-ySn {
  margin: 0rem 13.851rem 3.262rem 0rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-Fmg .auto-group-6tnv-ySn .link-logo-charitfixpng-gMC {
  margin-right: 22.5rem;
  width: 17.8rem;
  height: 4.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/link-logo-charitfixpng-4uk.png');
  flex-shrink: 0;
}
.login-Fmg .auto-group-6tnv-ySn .nav-list-item-link-home--xJi {
  margin-top: 0.2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .auto-group-6tnv-ySn .auto-group-39fk-Ri6 {
  box-sizing: border-box;
  padding: 0.9rem 0rem 1.1rem 0.145rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-Fmg .auto-group-6tnv-ySn .auto-group-39fk-Ri6 .nav-list-item-link-wAe {
  margin: 0.6rem 5.272rem 0.2rem 0rem;
  width: 1.6rem;
  height: calc(100% - 0.8rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.login-Fmg .auto-group-6tnv-ySn .auto-group-39fk-Ri6 .component-5-SdC {
  margin: 0.391rem 7rem 0rem 0rem;
  width: 8.5rem;
  height: 1.5909rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-Fmg .auto-group-6tnv-ySn .auto-group-39fk-Ri6 .component-4-9nW {
  margin: 0.391rem 7rem 0rem 0rem;
  width: 13rem;
  height: 1.5909rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-Fmg .auto-group-6tnv-ySn .auto-group-39fk-Ri6 .nav-list-item-link-contact-ToC {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #090e0d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .auto-group-yehc-ABp {
  margin: 0rem 0rem 13.038rem 0.068rem;
  box-sizing: border-box;
  padding: 9rem 27.2rem;
  width: 127.1rem;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-size: 100% 173.16%;
  background-position: 0 -16.0952rem;
  background-image: url('../assets/main-section-bg.png');
  background: linear-gradient(90deg, #00715d 27.6%, rgba(171, 185, 183, 0.1299999952) 72.4%);
  flex-shrink: 0;
}
.login-Fmg .auto-group-yehc-ABp .auto-group-yehc-ABp-bg {
  width: 127.1rem;
  height: 22rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:3b3964f15e02781b019cc271e3ce77c99cfefadd');
}
.login-Fmg .main-H9x {
  margin: 0rem 27.101rem 9rem 32.1rem;
  box-sizing: border-box;
  padding: 4.8rem 0rem 5.4rem 4.233rem;
  width: calc(100% - 59.2012rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6rem rgba(0, 0, 0, 0.0700000003);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.login-Fmg .main-H9x .link-logo-charitfixpng-xmt {
  margin: 0rem 5.27rem 4rem 0rem;
  width: 17.8rem;
  height: 4.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/link-logo-charitfixpng-Rsk.png');
  flex-shrink: 0;
}
.login-Fmg .main-H9x .form-label-email-euc {
  margin: 0rem 58.5rem 0.8rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  color: #636b6a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .main-H9x .form-input-9rN {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 1.5rem 2.167rem;
  width: 100%;
  height: 5rem;
  border: solid 0.1rem #cccdd3;
  background-color: #f8f8f8;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.login-Fmg .main-H9x .form-input-9rN .divplaceholder-grJ {
  margin-right: 47rem;
  width: 12.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #999999;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.login-Fmg .main-H9x .form-label-password-MBk {
  margin: 0rem 55.3rem 0.8rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  color: #636b6a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .main-H9x .form-input-ewY {
  margin: 0rem 0.7rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 5.543rem 1.5rem 1.467rem;
  width: calc(100% - 0.7rem);
  height: 5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #cccdd3;
  background-color: #f8f8f8;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.login-Fmg .main-H9x .form-input-ewY .divplaceholder-kDt {
  margin-right: 42.501rem;
  width: 11.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #999999;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.login-Fmg .main-H9x .form-input-ewY .form-3in {
  margin-top: 0.6rem;
  width: 1.623rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-Fmg .main-H9x .auto-group-p2d4-Lxn {
  margin: 0rem 5.167rem 3.35rem 0.567rem;
  width: calc(100% - 5.734rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-Fmg .main-H9x .auto-group-p2d4-Lxn .form-link-fEN {
  margin: 2.1rem 34.766rem 0rem 0rem;
  width: 10.534rem;
  height: 5.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #00715d;
  border-radius: 1rem;
  flex-shrink: 0;
}
.login-Fmg .main-H9x .auto-group-p2d4-Lxn .form-link-forgot-password-iCe {
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #00715d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .main-H9x .dont-have-an-account-register-Rcr {
  margin: 0rem 5.23rem 2.25rem 0rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0.05rem;
  color: #666666;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .main-H9x .dont-have-an-account-register-Rcr .dont-have-an-account-register-Rcr-sub-0 {
}
.login-Fmg .main-H9x .dont-have-an-account-register-Rcr .dont-have-an-account-register-Rcr-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  letter-spacing: 0.05rem;
  color: #00715d;
  font-family: Inter, 'Source Sans Pro';
}
.login-Fmg .main-H9x .link-5zE {
  margin: 0rem 10.167rem 0rem 4.867rem;
  box-sizing: border-box;
  padding: 1.3rem 19.85rem 1.3rem 12.5rem;
  width: calc(100% - 15.034rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(168, 168, 168, 0.4199999869);
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.login-Fmg .main-H9x .link-5zE .google-iconpng-nNr {
  margin-right: 2.35rem;
  width: 2.3rem;
  height: 2.4rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/google-iconpng.png');
  flex-shrink: 0;
}
.login-Fmg .main-H9x .link-5zE .login-with-google-hEv {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #666666;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 {
  margin-right: 0.0682rem;
  width: 127.1rem;
  height: 65.3rem;
  position: relative;
  background: linear-gradient(267.95deg, #222928 148%, #090e0d 199.4%);
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .before-rGE {
  width: 92.9515rem;
  height: 65.3rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 43.683% 88.668%;
  background-position: 44.6645rem 3.7rem;
  background-image: url('../assets/before-kD4.png');
}
.login-Fmg .footer-Kn6 .divcontainer-Yer {
  width: 112.6rem;
  height: 47.7rem;
  position: absolute;
  left: 11.3rem;
  top: 8.1rem;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 {
  box-sizing: border-box;
  padding: 0rem 9.4rem 11.65rem 9.3rem;
  width: 100%;
  height: 47.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-t7xl-aLe {
  margin: 0rem 0rem 11.9rem 34.895rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-t7xl-aLe .nav-list-item-link-home-ts8 {
  margin: 0rem 6.02rem 0.4rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-t7xl-aLe .component-2-mvv {
  margin: 0rem 6.115rem 0.019rem 0rem;
  width: 8.3852rem;
  height: 1.1807rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-t7xl-aLe .component-4-6iJ {
  margin: 0rem 6rem 0.019rem 0rem;
  width: 12.8852rem;
  height: 1.1807rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-t7xl-aLe .nav-list-item-link-contact-S1U {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-rzb8-k2A {
  margin: 0rem 14.1rem 0.75rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-rzb8-k2A .heading-4-explore-links-fup {
  margin: 0.2rem 18.8rem 0rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-rzb8-k2A .heading-4-get-support-mxr {
  margin-right: 23.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-rzb8-k2A .heading-4-get-support-JSz {
  margin-top: 1.2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-fhkl-RnW {
  margin-right: 7.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-fhkl-RnW .auto-group-lnmt-NSr {
  margin: 0.2rem 19.1rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-fhkl-RnW .auto-group-lnmt-NSr .list-item-link-about-company-79Y {
  margin-bottom: 1.05rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-fhkl-RnW .auto-group-lnmt-NSr .list-item-link-latest-projects-pZk {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-fhkl-RnW .auto-group-sjbl-LHC {
  margin: 0rem 25.7rem 0.25rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-fhkl-RnW .auto-group-sjbl-LHC .list-item-link-about-g6A {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-fhkl-RnW .auto-group-sjbl-LHC .list-item-link-how-it-works-zsY {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-fhkl-RnW .list-item-Kev {
  margin: 0rem 1rem 0.75rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-fhkl-RnW .list-item-link-donationgmailcom-358 {
  margin-bottom: 0.75rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  text-decoration-line: underline;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-9ptg-Yna {
  margin: 0rem 13.6rem 0.75rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-9ptg-Yna .list-item-link-latest-blog-gdt {
  margin: 1rem 17.1rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-9ptg-Yna .list-item-link-knowledge-hub-yst {
  margin: 0.5rem 23.7rem 0rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-9ptg-Yna .list-item-h3C {
  margin: 0rem 1rem 0.5rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-9ptg-Yna .list-item-link-88-111-222-333-CEr {
  margin-bottom: 0.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-uvwi-6r2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-uvwi-6r2 .auto-group-vprz-FU2 {
  margin: 0.2rem 19.4rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-uvwi-6r2 .auto-group-vprz-FU2 .list-item-link-our-testimonials-nTx {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-uvwi-6r2 .auto-group-vprz-FU2 .list-item-link-our-mission-JBQ {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-uvwi-6r2 .auto-group-6ntw-1rW {
  margin: 0rem 23.6rem 0.2rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-uvwi-6r2 .auto-group-6ntw-1rW .list-item-link-success-stories-xFx {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-uvwi-6r2 .auto-group-6ntw-1rW .list-item-link-contact-H3L {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-uvwi-6r2 .list-item-QNr {
  margin: 0rem 1rem 1.7rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .divcontainer-Yer .auto-group-o3dx-4t6 .auto-group-uvwi-6r2 .list-item-link-tropical-cyclone-volcano-8Jr {
  margin-bottom: 1.7rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Fmg .footer-Kn6 .link-logo-charitfixpng-Ecn {
  width: 17.8rem;
  height: 4.4rem;
  position: relative;
  left: 14.2rem;
  top: 7rem;
  background-size: 100% 100%;
  background-image: url('../assets/link-logo-charitfixpng-Vz6.png');
}
.login-Fmg .footer-Kn6 .copyright-2023-inittheme-all-rights-reserved-vkW {
  width: 36.7rem;
  height: 2.5rem;
  position: absolute;
  left: 19.5141rem;
  top: 58.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5625;
  color: #949b95;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.login-Fmg .footer-Kn6 .list-item-link-Gxn {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 102.3rem;
  top: 58.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.login-Fmg .footer-Kn6 .list-item-link-ngE {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 107.5rem;
  top: 58.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.login-Fmg .footer-Kn6 .list-item-link-6gv {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 112.7rem;
  top: 58.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.login-Fmg .footer-Kn6 .list-item-link-cvA {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 117.9rem;
  top: 58.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
